.nor-activity-layout{

display:grid;

grid-template-columns:320px 1fr;

gap:25px;

}

/* RECENT LIST */

.nor-activity-list{

display:flex;

flex-direction:column;

gap:8px;

}

.nor-activity-sub{

font-size:16px;

font-weight:600;

margin-bottom:6px;

}

.nor-activity-item{

background:#fff;

padding:10px;

border-radius:8px;

box-shadow:0 3px 8px rgba(0,0,0,0.05);

}

.nor-activity-action{

font-weight:600;

}

.nor-activity-user{

font-size:13px;

color:#666;

}

.nor-activity-time{

font-size:12px;

color:#999;

}

/* CHART */

.nor-activity-chart{

background:#fafafa;

padding:10px;

border-radius:8px;

}